* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.bg-header {
    background-color: #EDEAE1;
}

.logo {
    width: 200px;
}

body {
    background-image: repeating-linear-gradient(45deg, rgba(240,30,30, 0.06) 0px, rgba(240,30,30, 0.06) 2px,transparent 2px, transparent 4px),linear-gradient(90deg, rgb(46,44,44),rgb(46,44,44));
}
    .card {
    height: 700px;
    margin: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: #EDEAE1;
}

footer ul {
    padding: 0;
}

.footer-credits {
    background-image: linear-gradient(200deg, rgba(254,3,3, 0.05) 0%, rgba(254,3,3, 0.05) 23%,rgba(255,0,0, 0.05) 23%, rgba(255,0,0, 0.05) 48%,rgba(65, 65, 65,0.05) 48%, rgba(65, 65, 65,0.05) 61%,rgba(0,0,0, 0.05) 61%, rgba(0,0,0, 0.05) 100%),linear-gradient(126deg, rgba(255,0,0, 0.05) 0%, rgba(255,0,0, 0.05) 11%,rgba(255,0,0, 0.05) 11%, rgba(255,0,0, 0.05) 33%,rgba(255,0,0, 0.05) 33%, rgba(255,0,0, 0.05) 99%,rgba(248, 248, 248,0.05) 99%, rgba(248, 248, 248,0.05) 100%),linear-gradient(144deg, rgba(64, 64, 64,0.05) 0%, rgba(64, 64, 64,0.05) 33%,rgba(211, 211, 211,0.05) 33%, rgba(211, 211, 211,0.05) 50%,rgba(53, 53, 53,0.05) 50%, rgba(53, 53, 53,0.05) 75%,rgba(144, 144, 144,0.05) 75%, rgba(144, 144, 144,0.05) 100%),linear-gradient(329deg, hsl(148,0%,0%),hsl(148,0%,0%));
    padding: 10px 0;
    color: #fff;
}

footer h4 {
    text-transform: capitalize;
}